.navbar{
  width: 60px;
  height: 60px;
}
@media (max-width: 1620px) {
.label{
  margin-right: 20%;
}

  .menu-item .sub-menu.triple {
      min-width: 20.25em;
  }

.data{
  font-size: 15pt;
  margin-left: -70px;
}
}
@media (max-width: 1440px) {
  .data{
    font-size: 14pt;
    margin-left: -65px;
  }
  #container {
  	top: -13%;

  }

}
@media (max-width: 1345px) {
  .data{
    font-size: 12pt;
    margin-left: -50px;
  }
  .bottProf{
    width: 90%;
  }
}
@media (max-width: 1020px) {
.label{
  margin-right: 10%;
}
.bottProf{
  width: 100%;
}
}
@media (max-width: 950px) {
  .data{
    font-size: 11pt;
    margin-left: -55px;
  }
}
@media (max-width: 881px) {
.label{
  margin-right: 4%;
}
.menu-item .sub-menu.triple {
    min-width: 16.25em;
    min-height: 18.25em;
}
}
@media (max-width: 800px) {
.label{
  margin-right: 0%;
}
}
@media (max-width: 765px) {
.sell{display: none;
}
.bar{display: none;}
.search{
  display: none;
}
.data{
  font-size: 0pt;
  margin-left: -30px;
}
.iconsi{
  display:flex;
}
}
@media (max-width: 580px){

}
