.page-footer {
  padding: 1rem;
  background: white;
  color: #fff;
  border-top:  1px solid gray;
  text-align: center;

}


.bootom{
  font-family: 'Almarai', sans-serif;
color: black;
text-decoration: none;

}
